<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ time | date }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <code>
    User {{credentials | json}}
  </code> -->

  <ion-card>
    <ion-card-content>
      {{store.data$ | async |  json }}
    </ion-card-content>
  </ion-card>

  <ion-list lines="full" class="ion-no-padding" inset="true">
    <form #login="ngForm">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input
          [required]="true"
          minlength="3"
          [(ngModel)]="credentials.name"
          name="name"
          debounce="300"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          [required]="true"
          minlength="3"
          [(ngModel)]="credentials.email"
          name="email"
        ></ion-input>
      </ion-item>
    </form>
  </ion-list>

  <section style="margin:10px">
    <ion-button 
      expand="block" [disabled]="login.invalid"
      (click)="connect()">
      {{ loading ? 'Launching SpaceShip' : 'Enter Universe'}}
      <ion-spinner name="dots" *ngIf="loading"></ion-spinner>
    </ion-button>
  </section>
</ion-content>
